*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
ipch

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

*.ini
*.dmp

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.pdb
*.idb
*.user
*.obj
Debug
Release
Debug_*
Release_*
*.ncb
*.suo